<header>
    <nav>
        <div class="ui container">
            <div class="ui stackable menu">
                <div class="item">
                Brand
                </div>
                <a class="item right">Features</a>
                <a class="item">Testimonials</a>
                <a class="item">Sign-in</a>
            </div>
        </div>
    </nav>
</header>