<section id="banner" class="bg-dark">
    <div class="ui container">
        <h1>SIMPLY DUMMY TEXT OF THE PRINTING</h1>
        <p>Lorem ipsum dolor simply dummy text of the printing Lorem ipsum dolor.  
        Simply dummy text Lorem ipsum dolor</p>
        <button class="ui button teal">
            Get Started
        </button>
    </div>
</section>

<section id="how-it-works" class="padded">
    <h1 class="ui header center aligned">How it works</h1>
    <div class="ui container">
        <div class="ui three column grid">
            <div class="column">
                <div class="hiw">
                    <%= semantic_icon(:sign, :in, :alternate, :big, :circular, :teal, :inverted); %>
                    <h3>Lorem Ipsum Dolor</h3>
                </div>
            </div>
            <div class="column">
                <div class="hiw">
                    <%= semantic_icon(:users, :big, :circular, :teal, :inverted); %>
                    <h3>Lorem Ipsum Dolor</h3>
                </div>
            </div>
            <div class="column">
                <div class="hiw">
                    <%= semantic_icon(:comment, :big, :circular, :teal, :inverted); %>
                    <h3>Lorem Ipsum Dolor</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="padded bg-white">
    <h1 class="ui header center aligned">Testimonials</h1>
    <div class="ui container">
        <div class="testimonial center aligned">
            <image src="https://semantic-ui.com/images/avatar2/large/matthew.png" alt="" />
            <h3>John Doe <small>California, USA</small></h3>
            <p>Lorem ipsum dolor simply dummy text of the printing Lorem ipsum dolor.  
            Simply dummy text Lorem ipsum dolor.</p>
        </div>
    </div>
</section>

<section id="subscribe" class="padded bg-teal">
    <h1 class="ui header center aligned">Subscribe to our Newsletter</h1>
    <div class="ui action input subscribe">
        <input type="email" placeholder="Your Email">
        <button class="ui black button">
            Subscribe
        </button>
    </div>
    <p>We will not share your email address to any third party.</p>
</section>

<section id="footer" class="padded bg-dark">
    <p>copyright &copy 2018, Abc Inc.</p>
</section>
