<section id="chat" class="page-content">
    <div class="ui container">
        <div class="ui grid">
            <div class="three wide column"></div>
                <div class="ten wide column">
                    <h3 class="ui top attached header">
                        Top Attached
                    </h3>
                    <div class="ui attached segment chat-box">
                        <ul class="chat-list">
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="sent">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                            <li class="recieved">
                                <div>
                                    <img src="https://semantic-ui.com/images/wireframe/square-image.png" alt="" />
                                    <div>
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <span>You, 12:00 AM</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ui bottom attached segment reply-box">
                        <div class="ui form">

                            <div class="textarea">
                                <div class="field">
                                    <textarea rows="2"></textarea>
                                </div>
                            </div>
                            <div class="toolbar">
                                <div>

                                </div>
                                <button class="ui right labeled icon button">
                                    <i class="right arrow icon"></i>
                                    Send
                                </button>
                            </div>

                            
                        </div>
                    </div>
                </div>
            <div class="three wide column"></div>
        </div>
    </div>
</section>